<script>
    import dayjs from 'dayjs/esm';
    let aniver = dayjs('2017-09-06T00:19:30');
    let today = dayjs();

    let total = {
        years: {
            value: today.diff(aniver, 'y'),
            label: 'años',
            add: 1,
            delay: 500,
        },
        month: {
            value: today.diff(aniver, 'month'),
            label: 'meses',
            add: 1,
            delay: 100,
        },
        week: {
            value: today.diff(aniver, 'week'),
            label: 'semanas',
            add: 9,
            delay: 100,
        },
        days: {
            value: today.diff(aniver, 'day'),
            label: 'días',
            add: 1,
            delay: 1,
        },
        hour: {
            value: today.diff(aniver, 'hour'),
            label: 'horas',
            add: 99,
            delay: 1,
        },

        // minutes: {
        //     value: today.diff(aniver, 'minute'),
        //     label: 'minutos',
        //     add: 1234,
        // },
        // seconds: {
        //     value: today.diff(aniver, 'second'),
        //     label: 'segundos',
        //     add: 98792,
        // },
    };

    // console.log(total);

    let counter = 0;

    let keysTime = Object.keys(total);
    let init = 0;

    function loadTime() {
        const inter = setInterval(() => {
            counter += total[keysTime[init]].add;
            if (counter >= total[keysTime[init]].value) {
                clearInterval(inter);
                setTimeout(() => {
                    init = init === keysTime.length - 1 ? 0 : init + 1;
                    counter = 0;
                    loadTime();
                }, 4000);
            }
        }, total[keysTime[init]].delay);
    }
    loadTime();
</script>

<!-- {#key days}
    <h1
        class="w-full my-2 text-3xl md:text-5xl font-bold leading-tight text-center text-gray-800"
    >
        Son {days} días juntos
    </h1>
{/key} -->
<h1
    class="w-full my-2 text-3xl md:text-5xl font-bold leading-tight text-center text-gray-800"
>
    Son {counter}
    {total[keysTime[init]].label} juntos
</h1>
